<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project4.Properties.Settings.project4dataConnectionString"
            connectionString="Data Source=PAOLA-PC;Initial Catalog=project4data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>